#logo_empresa {
  height: 50px;
  border-radius: 6px;
}

@media screen and (max-width: 1025px) {
  #logo_empresa {
    height: 35px;
  }

  #decoration-cumple {
    width: 55px !important;
  }
}

.img_galeria {
  width: 20%;
  height: auto;
  margin: 1%;
  float: left;
  position: relative;
  background: white;
}

#logo_empresa_login {
  height: 70px;
  border-radius: 6px;
}