.btn-hover:hover {
  background-color: rgb(236, 182, 000, .5);
}

/* Colores */
/* Pantone 3165 */
.bg-navbar {
  background-color: rgb(000, 078, 089);
  /* background-color: #00958e; */
}

.bg-navbar-drop {
  background-color: white;
}

.bg-navbar-drop a {
  color: black !important;
}

.bg-navbar a {
  text-decoration: none;
  color: rgba(255, 255, 255);
  display: block;
  padding: 0.5rem 1rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.bg-navbar ul {
  color: black;
}

.bg-navbar,
a:hover {
  color: rgb(247, 190, 000);
}

.bg-navbar .navlinkactive {
  color: rgb(247, 190, 000);
}

.bg-navbar-active-a {
  color: rgb(247, 190, 000);
}

.dropdown-a {
  width: 100%;
  clear: both;
  font-weight: 400;
  text-align: inherit;
  white-space: nowrap;
  border: 0;
}

.dropdown-lu ul {
  width: 100%;
}

.dropdown-a:hover {
  color: white;
  background-color: rgb(247, 190, 000);
}

.btn-navbar {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: rgb(98 203 201 / 8%);
  border: 1px solid rgb(0 175 170 / 0%);
  border-radius: 0.25rem;
  transition: box-shadow .15s ease-in-out;
  zoom: 150%
}

.navbar-menu{
  padding-top: 0px; 
  padding-bottom: 0px;
  font-size: 14px;
}

.navbar-menu a{
  font-size: 14px
}