table thead {
  background-color: rgb(000, 078, 089);
  /* background-color: #10ADA6; */
  color: white;
  border-color: #797D7F;
}

.paginate_button.active .page-link{
  background-color:  rgb(000, 175, 170);
  border-color:  rgb(000, 175, 170) ;
}

.page-link:focus{
  color: var(--bs-body-color);
    background-color: var(--bs-form-control-bg);
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 5px 0.1rem rgb(98 203 201 / 50%);
}


/* .btn-table {
  padding-left: 8px;
  padding-right: 8px; 
padding-bottom: 2px;
padding-top: 2px;
text-decoration: none;
color: black;
border: 0px;
background-color: rgb(255 255 255 / 0%);
}

.btn-table:hover {
  color: rgb(000, 175, 170);
}

*/

/* table tr {
  padding-bottom: 50px;
  padding-top: 10px;
} */

/* div.dataTables_wrapper div.dataTables_filter input {
  margin-left: 0.5em !important;
  display: inline-block !important;
  width: 300px !important;
} */


table {
  border-collapse: collapse;
  border-radius: 0.5em;
  overflow: hidden;
}

.radiuszero {
  border-radius: 0px;
}

:root{
  --dt-row-selected: 0 130 148; 
}

table tbody tr.selected {
  color: white;
  box-shadow: inset 0 0 0 9999px rgb(0 130 148) !important;
}

table.dataTable>tbody>tr.selected>* {
  box-shadow: inset 0 0 0 9999px rgb(0 130 148) !important;
  color: white;
}

table.dataTable>tbody>tr.selected a {
color: rgb(247, 190, 000) !important;

}

table.dt-rowReorder-float {
    z-index: 2000;
}


/* Responsive */
@media screen and (max-width: 767px) {
    li.paginate_button.previous {
        display: inline;
    }
 
    li.paginate_button.next {
        display: inline;
    }
 
    li.paginate_button {
        display: none;
    }
}